streamlit
pandas
numpy
openai
google-api-python-client
youtube-transcript-api
requests
qiskit
yt-dlp
whisper
google-generativeai
python-docx
sounddevice
scipy
langdetect
googletrans==4.0.0-rc1
streamlit-webrtc
